html, body {
  height: 100%;
  width: 100%;
background: #B7DEED;
background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
}

h1 {
background: #CF1D1D;
background: linear-gradient(to top, #CF1D1D 12%, #2308CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 72px;
  font-family: 'Nerko One', cursive;
}

button {
  font-family: 'Nerko One', cursive;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}
button:hover {
  background-position: right center;
}
button:active {
  top: 2px;
}
}