html, body {
  height: 100%;
  width: 100%;
background: #B7DEED;
background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
background: #CF1D1D;
background: linear-gradient(to top, #CF1D1D 12%, #2308CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 72px;
  font-family: 'Nerko One', cursive;
}

p {
    background: #CF1D1D;
background: linear-gradient(to top, #CF1D1D 12%, #2308CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 22px;
  font-family: 'Nerko One', cursive;
}

h4 {
  background: #CF1D1D;
background: linear-gradient(to top, #CF1D1D 12%, #2308CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 24px;
  font-family: 'Nerko One', cursive;
}

ol {
  background: #CF1D1D;
background: linear-gradient(to top, #CF1D1D 12%, #2308CF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: 'Nerko One', cursive;
}

button {
  font-family: 'Nerko One', cursive;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}
button:hover {
  background-position: right center;
}
button:active {
  top: 2px;
}

/* .form{width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}
p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
button:hover{background:#78788c;color:#fff}
div{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
span{margin:0 5px 0 15px}
body{background:#59ABE3;margin:0} */
